{% extends 'base/base.html' %}
{% load static %}


{% block contenido %}
    {% for e in eventos %}
        {{e.titulo_evento}} 
        <a href="{% url 'eventos:panel-actualizar-eventos' pk=e.pk %}">editar</a>
    {% endfor %}
    <a href="{% url 'eventos:panel-eventos' %}"><button type="button" class="btn btn-success">Crear Nuevo Evento</button></a>
    
    <br><br><br>
    {% for c in categorias %}
        {{c.nombre_categoria}}
        <a href="{% url 'eventos:panel-actualizar-categorias' pk=c.pk %}">editar</a>
    {% endfor %}
    <a href="{% url 'eventos:panel-categorias' %}"><button type="button" class="btn btn-success">Crear Nueva Categoria</button></a>
    
    
    
{% endblock contenido %}
    