{% extends 'base/base.html' %} 
  
{% block titulo %}Calendario de Eventos{% endblock %}
  
{% block contenido %}
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {

      themeSystem: 'bootstrap5',
      headerToolbar: { start: 'prev', center:'title', end: 'next'},
      views: {
        dayGridMonth: {titleFormat: { year: 'numeric', month: 'short', day: 'numeric' }},titleRangeSeparator: {
          hour: 'numeric',
          minute: '2-digit',
          meridiem: false
        }},

      initialView: 'dayGridMonth',

      timeZone: 'America/Buenos_Aires',

      events: [
        {% for eventos in object_list %}
          {
              title: "EVENTO",
              start: '{{eventos.fecha_inicio_evento | date:"Y-m-d"}}T{{eventos.hora_evento}}Z',
              end: '{{eventos.fecha_fin_evento | date:"Y-m-d"}}',
              display: 'list-item',
              color: 'green',
              selectable: true,
              url: '{% url "eventos:evento-especifico" eventos.id %}'
            
          },
        {% endfor %}
      ],
      
        
    });
    
    calendar.render();
    calendar.setOption('locale','es');
  });

</script>

<div class="container-fluid my-3
 w-75">
  <h2 class="text-center" style="margin: 30px 0 30px 0;">CALENDARIO FUNDACIÓN PUEBLO</h2>
  <div id='calendar' class='justify-content-center' style='padding: 10px; background-color:white; border-color: black; display: flex;'></div>
</div>
      
{% endblock%}

{% block otro_bloque %}
  
{% endblock otro_bloque %}