{% extends "base/base.html" %}

{% block titulo %}Fundación Pueblo{% endblock %}

{% block contenido %}

    <div class="container-fluid my-2 d-flex flex-row-reverse">
    <a href="{% url 'eventos:detalle-evento' %}"><button class="w-10 btn btn-sm btn-primary" type="submit" style="margin:30px;">Volver a lista de eventos</button></a>

    
    

    <form method="get" class="row g-3">
        <div class="col-auto">
        
        {{ filter.form.as_p }}

        </div>
       
        <!-- Estilos Propios 
        <input class="w-10 btn btn-sm btn-primary" type="submit" style="margin:10px;">
        -->
        <div class="col-auto">
        <button class="w-10 btn btn-sm btn-primary" type="submit";">Filtrar</button>
        </div>
        
    </form>
    </div>

    {% for obj in filter.qs %}
        <h1>{{ obj.titulo_evento }}</h1> 
        <p>{{ obj.descripcion_evento }}</p>
    {% endfor %}


{% endblock contenido %}