{% extends 'base/base.html' %}
{%  load static %}

{% block titulo %}Fundación Pueblo{% endblock %}

{% block contenido  %}

<!--SLIDER DE IMÁGENES-->
<div class="container-fluid my-2">

  <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner" id="carousel-style">
      
      <div class="carousel-item active" data-bc-interval="3000">
        <img src="./static/img/foto1.png" class="d-block w-100" alt="foto2">
        <div class="carousel-caption d-none d-md-block">
          <p class="h1 bg-primary text-white">Fundación Pueblo</p>
          <p class="h2 bg-secondary text-white">"Somos una entidad ONG que desde el 2012 tiene como objetivo brindar actividades de diferentes índoles para toda la comunidad de la localidad de Barranqueras y el resto de la provincia"</p>
          
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <img src="./static/img/foto2.png" class="d-block w-100" alt="foto1">
        <div class="carousel-caption d-none d-md-block">
            <blockquote class="pull-right">
                <p class="h5">"Los voluntarios son los únicos seres humanos sobre la faz de la tierra que reflejan la compasión de esta nación, el cuidado desinteresado, la paciencia y el amor puro de unos a otros"</p>
                <small>Frase célebre de <cite title="Nombre Apellidos">Erma Bombeck</cite></small>
              </blockquote>
        </div>
      </div>

      <div class="carousel-item" data-bc-interval="3000">
        <img src="./static/img/foto3.png" class="d-block w-100" alt="foto3">
        <div class="carousel-caption d-none d-md-block">
          <h1>Te esperamos en nuestros próximos eventos</h2>
          <p class="h2">Estamos seguros que te llevarás experiencias maravillosas.</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

</div>

<!--CARDS INFORMATIVAS-->
<div class="container-fluid my-2">

  <div class="row g-2">
    
    <div class="col-3">

      <div class="card h-100">
        <img src="./static/img/flayer1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Conversatorio por la Provincialización del Chaco</h5>
          <p class="card-text texto-justificado">La Fundación Pueblo realizará un Conversatorio por los 71 Años de la Provincialización del Chaco junto a la Profesora Beatriz Miño. En el encuentro se dialogará sobre: el Territorio Nacional del Chaco bajo el Primer Gobierno de Perón, el Proceso de Provincialización, el Primer Gobierno Constitucional de la Provincia, y la Evolución Politica- Institucional hasta la actualidad. La reunión es abierta a todo el público y es la primera de una serie de conversatorios que se desarrollarán en las escuelas de nivel secundario y organizaciones comunitarias de la ciudad portuaria.
          </p>
        </div>
      </div>

    </div>

    <div class="col-3">

      <div class="card h-100">
        <img src="./static/img/flayer2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Terminá la secundaria con nosotros</h5>
          <p class="card-text texto-justificado">UEGP N172 "Gob. Deolindo Felipe Bittel" Ministerio de Educación del Chaco</p>
        </div>
      </div>

    </div>

    <div class="col-3">

      <div class="card h-100">
        <img src="./static/img/flayer4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">EXPO PUEBLO 2022
        </h5>
          <p class="card-text texto-justificado">Cortes gratuitos de cabello, MasterClass para Barberos,Feria de emprendimientos, oficios y profesiones, DJs en vivo, Shows en vivo. Colecta Solidaria, recibimos alimentos no perecederos, abrigos y calzados.
            Veni a pasar una tarde con nosotros. Trae tu silleta y mates.</p>
        </div>
      </div>

    </div>

    <div class="col-3">

      <div class="card h-100">
        <img src="./static/img/flayer3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gas Social</h5>
          <p class="card-text texto-justificado">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>

    </div>

  </div>

</div>

{% endblock contenido  %}