{% extends 'base/base.html' %}
{%  load static %}

{% block titulo %}Fundación Pueblo{% endblock %}

{% block contenido  %}



<br>
<div class="container-sm">

    <div class="card border-primary mb-3">
        <h5 class="card-header">Integrantes</h5>

        <div class="card-body">
            
            {% for p in integrantes %} 
              <p class="card-text">{{p}}</p>
            {% endfor %}
          
        </div>
      </div>
    
    {% for m in misionvision %}
      <div class="card border-primary mb-3">
        <h5 class="card-header">Misión</h5>
        <div class="card-body">
          
          <p class="card-text">{{m.mision}}</p>
          
        </div>
      </div>

      <div class="card border-primary mb-3">
        <h5 class="card-header">Visión</h5>
        <div class="card-body">
          
          <p class="card-text">{{m.vision}}</p>
          
        </div>
      </div>
      
    {% endfor %}    

</div>



{% endblock %}