{% extends 'base/base.html' %}
{%  load static %}


{% block titulo %} Recursos {% endblock %}

{% block contenido  %}


<center>
    <div class="container-fluid my-3 w-75">
        <h2 class="text-center" style="margin-top: 30px;">RECURSOS</h2>
    </div>

    <div class="my-2" style="width: 80%; background-color: white; padding: 10px; border: 1px solid rgb(13, 110, 253); border-radius: 0.375rem;">
    <div class="card">
        
    <div class="card-body">
        
        <table class="table">
            <thead>
                <tr>
                    {% if user.is_superuser %}
                    <th>ID</th>
                    {% endif %}
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>url</th>
                    {% if user.is_superuser %}
                    <th>Acciones</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for recurso in recursos %}
                <tr>
                    {% if user.is_superuser %}
                    <td>{{ recurso.id }}</td>
                    {% endif %}
                    <td>{{ recurso.titulo }}</td>
                    <td>{{ recurso.descripcion }}</td>
                    <td><a href="{{ recurso.url }}"target="_blank">{{ recurso.url }}</a></td>

                   

                    {% if user.is_superuser %}
                    
                    <td>  <li class="list-group-item"><a href="{% url 'editar' recurso.id %}" ><button type="button" class="badge rounded-pill text-bg-success">Editar</button></a>
                            <a href="{% url 'eliminar' recurso.id %}"><button type="button" class="badge rounded-pill text-bg-danger">Eliminar</button></a></li></td>
                        
                    {% endif %}

                    

                         
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        {% if user.is_superuser %}
        <div class="card-header">
            
            <a name="" id="" class="btn btn-primary" href="{% url 'crear' %}" role="button">Agregar Recurso</a>    
        </div>
        {% endif %}
        
    </div>  
</div>
</div>
</center>




{% endblock %}