{% extends 'base/base.html' %}
{%  load static %}


{% block titulo %} Recursos {% endblock %}

{% block contenido  %}


<center>
    <div class="container-fluid my-3 w-75">
        <h2 class="text-center" style="margin-top: 30px;">RECURSOS</h2>
    </div>

    <div class="my-2" style="width: 80%; background-color: white; padding: 10px; border: 1px solid rgb(13, 110, 253); border-radius: 0.375rem;">
    <div class="card">
        
    {% if user.is_superuser %}
    <div class="card-header">
        
        <a name="" id="" class="btn btn-primary" href="{% url 'crear' %}" role="button">Agregar Recurso</a>    
    </div>
    {% endif %}
    <div class="card-body">
        <h4 class="card-title">Recursos disponibles</h4>
        <table class="table">
            <thead>
                <tr>
                    {% if user.is_superuser %}
                    <th>ID</th>
                    {% endif %}
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>url</th>
                    {% if user.is_superuser %}
                    <th>Acciones</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for recurso in recursos %}
                <tr>
                    {% if user.is_superuser %}
                    <td>{{ recurso.id }}</td>
                    {% endif %}
                    <td>{{ recurso.titulo }}</td>
                    <td>{{ recurso.descripcion }}</td>
                    <td><a href="{{ recurso.url }}"target="_blank">{{ recurso.url }}</a></td>

                    {% if user.is_superuser %}
                    <td> <a name="" id="" class="btn btn-success" href="{% url 'editar' recurso.id %}" role="button">Editar</a> <br></br> <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' recurso.id %}" role="button">Borrar</a></td>
                    {% endif %}
                         
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        
    </div>  
</div>
</div>
</center>




{% endblock %}